.container1 {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  margin: 50px auto;
  border: 2px solid black;
  background-color: cadetblue;
  align-items: center;
}
.item {
}
.item1 {
  color: green;
  order: 1;
}
.item2 {
  color: red;
  order: 0;
}
.item3 {
  color: blue;
  order: -1;
}
.item4 {
  color: gray;
}
